<h1>Books#index</h1>
<h1>new Book</h1>
  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="area">
    <%= f.label :Opinion %><br>
    <%= f.text_area :body %>
<p>Find me in app/views/books/index.html.erb</p>
