<h1>Books#show</h1>
  <%= form_with model: @book do |f| %>
    <div class="field">
      <label>Title</label><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <label>Opinion</label><br>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Create Book' %>
  <% end %>
<p>Find me in app/views/books/show.html.erb</p>
