<h1>Welcome to Bookrs!!</h1>
  <p>
    In Bookrs,<br>
    you can share and exchange your opinions, inpressions, and emotions<br>
    about various books!
  <p>
<li>
<%= link_to "sign up", new_user_registration_path %>
</li>
<li>
<%= link_to "sign in", new_user_session_path %>
</li>